@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');
/* font-family: 'Lexend Deca', sans-serif; */
/* font-family: 'Big Shoulders Display', cursive; */
:root {
    --Bright-orange: hsl(31, 77%, 52%);
    --Dark-cyan: hsl(184, 100%, 22%);
    --Very-dark-cyan: hsl(179, 100%, 13%);
    --Transparent-white: hsla(0, 0%, 100%, 0.75); /* PARAGRAPHS */
    --Very-light-gray: hsl(0, 0%, 95%);
}


body {
    position: relative;
    background: var(--Very-light-gray);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    min-height: fit-content;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
    line-height: 1.5;
}
main {
    border: 1px solid transparent;
    border-radius: 20px;
}
ul {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style: none;
    gap: 0;
    width: 350px;
}
li {
    padding: 4rem;
}
li:nth-of-type(1) {
    background: var(--Bright-orange);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
li:nth-of-type(2) {
    background: var(--Dark-cyan);
}
li:nth-of-type(3) {
    background: var(--Very-dark-cyan);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
h1 {
    font-family: 'Big Shoulders Display', cursive;
    color: white;
}
p {
    color: var(--Transparent-white);
    font-weight: 700;
}
button {
    background: white;
    border: 2px solid transparent;
    border-radius: 25px;
    padding: 1rem 2rem;
    margin: 1rem 0 0 0;
    font-weight: 700;
}
.sedan:hover {
    background: inherit;
    color: white;
    border: 2px solid white;
    cursor: pointer;
}
.suv:hover {
    background: inherit;
    color: white;
    border: 2px solid white;
    cursor: pointer;
}
.luxury:hover {
    background: inherit;
    color: white;
    border: 2px solid white;
    cursor: pointer;
}
.sedan {
    color: var(--Bright-orange);
}
.suv {
    color: var(--Dark-cyan);
}
.luxury {
    color: var(--Very-dark-cyan);
}
@media (min-width: 1050px) {
    body {
        height: 100vh;
    }
    ul {
        flex-direction: row;
        flex: 1;
        width: 930px;
    }
    li {
        padding: 3.0rem;
    }
    li:nth-of-type(1) {
        border-top-right-radius: 0;
        border-bottom-left-radius: 10px;
    }
    li:nth-of-type(3) {
        border-bottom-left-radius: 0;
        border-top-right-radius: 10px;
    }
    button {
        margin-top: 4rem;
    }
}

.attribution { 
    position: absolute;
    font-size: 11px; 
    text-align: center;
    bottom: 10px;
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}
